<?xml version="1.0"?>
<config>
    <modules>
        <Xt_Bestsellers>
            <version>0.1.0</version>
        </Xt_Bestsellers>
    </modules>
    <admin>
        <routers>
			<bestsellers>
				<use>admin</use>
				<args>
					<module>Xt_Bestsellers</module>
					<frontName>bestsellers</frontName>
				</args>
			</bestsellers>
        </routers>
    </admin>
    <adminhtml>
		<menu>
		   <catalog>
                <children>
				   <bestsellers module="bestsellers">
						<title>Manage Bestsellers Products</title>
						<sort_order>3</sort_order>
						<action>bestsellers/adminhtml_bestsellers/new</action>						
				     </bestsellers>		
				</children>
             </catalog>
		  </menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Xt_Bestsellers>
							<title>Bestsellers Module</title>
							<sort_order>10</sort_order>
						</Xt_Bestsellers>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<bestsellers>
					<file>bestsellers.xml</file>
				</bestsellers>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <bestsellers>
                <class>Xt_Bestsellers_Model</class>
                <resourceModel>bestsellers_mysql4</resourceModel>
            </bestsellers>
            <bestsellers_mysql4>
                <class>Xt_Bestsellers_Model_Mysql4</class>
                <entities>
                    <bestsellers>
                        <table>customer_bestsellers</table>
                    </bestsellers>
                    <grid>
                        <table>grid_bestsellers</table>
                    </grid>
                </entities>
            </bestsellers_mysql4>
        </models>
        <resources>
            <bestsellers_setup>
                <setup>
                    <module>Xt_Bestsellers</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bestsellers_setup>
            <bestsellers_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bestsellers_write>
            <bestsellers_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bestsellers_read>
        </resources>
        <blocks>
            <bestsellers>
                <class>Xt_Bestsellers_Block</class>
            </bestsellers>
        </blocks>
        <helpers>
            <bestsellers>
                <class>Xt_Bestsellers_Helper</class>
            </bestsellers>
        </helpers>
    </global>
</config>